# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Reports
allure-results/
allure-report/
reports/

# Logs
logs/

# Mac Files
.DS_Store

# IDE
.vscode/

# Environment Files
.env